/* section 1 door style  */

.doorMedium {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 84px;
}
@media (max-width: 1425px) {
  .doorMedium {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}
@media (max-width: 640px) {
  .doorMedium {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 430px) {
  .doorMedium {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.doorProductImage {
  object-fit: cover;
  width: 100%;
}
.doorProductTitle {
  font-size: 21px;
  line-height: 36px;
  margin-top: 10px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .doorProductTitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 5px;
  }
}

.list_radio_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* section 2 color plate  */

.colorSampleSmall {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 35px;
}
@media (max-width: 1425px) {
  .colorSampleSmall {
    grid-template-columns: repeat(7, 1fr);
    /* gap: 40px; */
  }
}
@media (max-width: 1325px) {
  .colorSampleSmall {
    grid-template-columns: repeat(6, 1fr);
    /* gap: 40px; */
  }
}
@media (max-width: 640px) {
  .colorSampleSmall {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
@media (max-width: 430px) {
  .colorSampleSmall {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
/* colorSampleTitle  */
.colorSampleTitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  text-transform: capitalize;
}
@media (max-width: 1080px) {
  .colorSampleTitle {
    font-size: 9px;
    line-height: 14px;
    margin-top: 5px;
  }
}

/* dimension_section  */
.dimension_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  margin-top: 30px;
  background-color: #f4f4f3;
}

@media (max-width: 1325px) {
  .dimension_section {
    padding: 30px;
  }
}
@media (max-width: 900px) {
  .dimension_section {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 30px;
    background-color: #f4f4f3;
  }
}

/* Gap between Input boxes  */
.gapBtwInput {
  border-bottom: 2px solid #afafae;
  padding-bottom: 37px;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .gapBtwInput {
    border-bottom: 2px solid #afafae;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

/* interior section Check  */
.interiorRoot {
  display: flex;
  gap: 30px;
}
.interiorCheck {
  border: 1px solid #a0a0a0;
}
.interiorCheck:hover {
  border: 1px solid #ecebe9;
}
