/* .hover_items {
  position: relative;
  z-index: 1;
}

.section1toggle1:hover::after {
  position: absolute;
  right: -400px;
  top: -100%;
  background-image: url("../images/productsAndFinishes/Asset 4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 400px;
  min-height: 500px;
  content: "";
}

.section1toggle2:hover::after {
  position: absolute;
  right: -400px;
  top: -100%;
  background-image: url("../images/productsAndFinishes/1and1-section/1and2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 400px;
  min-height: 500px;
  content: "";
}

@media (max-width: 1700px) {
  .section1toggle1:hover::after {
    position: absolute;
    right: 60px;
    top: -100%;
    background-image: url("../images/productsAndFinishes/Asset 4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 170px;
    min-height: 250px;
    content: "";
    z-index: 10;
  }
  .section1toggle2:hover::after {
    position: absolute;
    right: 60px;
    top: -100%;
    background-image: url("../images/productsAndFinishes/1and1-section/1and2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 170px;
    min-height: 250px;
    content: "";
    z-index: 10;
  }
}
@media (max-width: 1000px) {
  .section1toggle1:hover::after {
    position: absolute;
    right: 60px;
    top: -100%;
    background-image: url("../images/productsAndFinishes/Asset 4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100px;
    min-height: 200px;
    content: "";
    z-index: 10;
  }
  .section1toggle2:hover::after {
    position: absolute;
    right: 60px;
    top: -100%;
    background-image: url("../images/productsAndFinishes/1and1-section/1and2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100px;
    min-height: 200px;
    content: "";
    z-index: 10;
  }
} */
