@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
/* Navbar main container  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--maxWidth);
  margin: auto;
  background-color: ghostwhite;
  transition: 0.3s;
  position: relative;
  padding: 40px 80px 28px 80px;
}
/* Logo  */
.logo_root img {
  width: 100%;
  max-width: 441px;
  cursor: pointer;
}
/* Sub menu border on project tab  */
.more_display_nav_item_project {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  padding: 0 15px;
}
/* Sub menu Ul tag  */
.navbar_alignment {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar_alignment li {
  font-size: 18px;
  margin: 0 15px;
  color: #808080;
  cursor: pointer;
}
/* Sub menu icons  */
.nav_icons {
  width: 19px;
  height: 19px;
  margin-right: 8px;
}
/* Main Navbar Li  */
.nav_links_root {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.nav_links_root ul {
  display: flex;
}
.nav_links_root_li {
  margin: 0 30px;
  cursor: pointer;
  font-size: 27px;
  color: #808080;
}
/* button  */
.hamburger_btn {
  cursor: pointer;
  display: none;
}
.hamburger_btn span {
  height: 3px;
  width: 28px;
  background-color: #222;
  margin: 5px;
  display: block;
  transition: all 0.4s;
  transform-origin: 2.8px 1px;
}

/* Media query css =============================================== */
/* 1200 =====================*/
@media (max-width: 1425px) {
  .logo_root {
    padding-left: 1rem;
  }
  .cta_btn_root {
    padding-right: 1rem;
  }
}
/* 780 ========================*/
@media (max-width: 780px) {
  .hamburger_btn {
    padding-right: 1rem;
  }
}
/* 640 ======================== */
@media (max-width: 640px) {
  .header {
    padding: 1.3rem 0;
  }
  .nav_links_root {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    position: absolute;
    bottom: -30px;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .show {
    opacity: 1;
    pointer-events: all;
  }
  .nav_links_root ul {
    position: absolute;
    flex-direction: column;
    width: 100%;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    background-color: transparent;
    z-index: 222;
  }
  .nav_links_root ul li:hover {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  }
  /* hamburger menu  */
  .hamburger_btn {
    display: block !important;
  }
  .open .one_line {
    transform: rotate(45deg);
  }
  .open .two_line {
    transition: 0.3s;
    opacity: 0;
  }
  .open .three_line {
    transform: rotate(-45deg);
  }
  .open.hamburger_btn span {
    background-color: rgb(255, 55, 55);
    transition: 0.4s;
  }
  .overly {
    z-index: -1;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(hsl(233, 26%, 24%), transparent);
  }
}
