<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRODUCT DETAILS</title>
    <link rel="stylesheet" href="../css/page4.css" />
    <link rel="stylesheet" href="../style.css">
    <!-- Tailwindcss cdn  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Navbar css file -->
    <link rel="stylesheet" href="../navbar/mobile_navbar.css" />
    <!-- Navbar javascript file  -->
    <script defer src="../navbar/mobile-navbar.js"></script>
  </head>
  <body>

     <!-- Navbar Desktop Start -->
     <nav class="max-[1370px]:hidden w-full bg-[#ffffff] pt-[40px] pb-[40px]">
      <!-- main nav container  -->
      <section
        class="mx-auto max-w-[1920px] px-[100px] flex justify-between gap-[20px] max-[1000px]:flex-col"
      >
        <!-- logo -->
        <div class="logo">
          <a href="#"
            ><img
              class="md:w-[440px] w-[165px]"
              src="../images/navbar/Rey-Xpress-Color-Logo.svg"
              alt="logo"
          /></a>
        </div>




        <!-- main links container -->
        <div class="gap-[70px] flex flex-col justify-between items-end">
          <!-- top links  -->
          <div class="topLinks max-[1000px]:w-full">
            
            <div class="min-[1700px]:text-[14px] xl:text-[15px] text-[14px] sm:leading-[14px] leading-[32px] flex items-center max-[1000px]:flex-col max-[1000px]:block"
            >
              <!-- items  -->
              <a class="flex items-center gap-[10px] max-[1000px]:py-[20px]" href="#" >
                <img class="sm:w-[23px] w-[20px]" src="../images/navbar/Rey-Xpress-Account-Icon.svg" alt="account"/>
                SIGN IN / CREATE ACCOUNT
                </a>
              <!-- items  -->
              <a class="flex items-center gap-[10px] mx-[32px] px-[32px] border-l-2 border-r-2 border-[#9a999a]" href="#">
                <img class="sm:w-[28px] w-[20px]" src="../images/navbar/Rey-Xpress-Projects-Icon.svg" alt="project" />
                PROJECTS
              </a>

              <!-- items  -->
              <a class="flex items-center gap-[10px]" href="#" >
                <img class="sm:w-[24px] w-[20px]" src="../images/navbar/Rey-Xpress-Shopping-Cart-Icon.svg" alt="cart" />
                SHOPPING CART
              </a>

            </div>
          </div>






          <!-- bottom links  -->
          <div class="bottomLinks">
            <ul id="navbar" class="nav flex 2xl:gap-[60px] xl:gap-[40px] gap-[20px] min-[1700px]:text-[22px] text-[18px] leading-[32px] text-[#9a999a] uppercase"
            >
              <li class="hover:text-[#666666]">
                <a class="navlinks pb-[28px]" href="/pages/page2.html" >PRODUCT & FINISHES</a>
              </li>
              <li class="hover:text-[#666666]">
                <a class="navlinks pb-[28px]" href="./pages/page5.html" >SHOP</a>
              </li>
              <li class="hover:text-[#666666]">
                <a class="navlinks pb-[28px]" href="#">WHY REY-XPRESS</a>
              </li>
              <li class="hover:text-[#666666]">
                <a class="navlinks pb-[28px]" href="#">TUTORIALS</a>
              </li>
              <li class="hover:text-[#666666]">
                <a class="navlinks pb-[28px]" href="#">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </nav>
    <!-- Navbar Desktop End --------------------------------------------------------------------------------------------------->

    <!-- Navbar Mobile Start  -->
    <section id="mobile_nav_bg" class="min-[1370px]:hidden bg-[#fff]">
      <div class="px-[30px] py-[50px] text-[#fff]">
        <!-- logo and hamburger menu  -->
        <section class="flex justify-between items-center ">
          <div>
            <a href="#"><img
              id="nav_logo_white"
              class="w-[165px] active"
              src="../images/navbar/Rey-Xpress-White-Logo.svg"
              alt="logo"
            />
            <img
              id="nav_logo_red"
              class="w-[165px] "
              src="../images/navbar/Rey-Xpress-Color-Logo.svg"
              alt="logo"
            /></a>
          </div>
          <div>
            <div class="hamburger_menu" id="hamburger_menu">
              <div class="hamburger_bar"></div>
              <div class="hamburger_bar"></div>
              <div class="hamburger_bar"></div>
            </div>
          </div>
        </section>

        <!-- main nav  -->
        <main" id="main_nav_container">
          <!-- links section  -->
          <section class="mt-[45px]">
            <!-- item start 1-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 1-->
            <!-- item start 2-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">PRODUCT & FINISHES</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 2-->
            <!-- item start 3-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">SHOP</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Kitchen Cabinets</a></p>
                <p><a href="#">Base Cabinets</a></p>
                <p><a href="#">Top Wall Cabinets</a></p>
                <p><a href="#">Tall Cabinets</a></p>
                <p><a href="#">Vaneties</a></p>
                <p><a href="#">Doors</a></p>
                <p><a href="#">Drawers</a></p>
                <p><a href="#">Trim, Details & Accessories</a></p>
                <p><a href="#">Counter Tops</a></p>
              </div>
            </div>
            <!-- item end 3-->
            <!-- item start 4-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 4-->
            <!-- item start 5-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 5-->
            <!-- item start 6-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 6-->
          </section>

          <section
            class="uppercase mt-[40px] pb-[35px] border-b-[1px] border-[#fff]"
          >
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[17px]"
                src="../images/navbar/mobile/Rey-Xpress-Account-Icon.svg"
                alt="account"
              />
              <h3>SIGN IN / CREATE ACCOUNT</h3>
            </a>
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[20px]"
                src="../images/navbar/mobile/Rey-Xpress-Projects-Icon.svg"
                alt="project"
              />
              <h3>PROJECTS</h3>
            </a>
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[18px]"
                src="../images/navbar/mobile/Rey-Xpress-Shopping-Cart-Icon.svg"
                alt="add to cart"
              />
              <h3>SHOPPING CART</h3>
            </a>
          </section>

          <section class="my-[15px]">
            <p class="text-[12px] leading-[18px]">
              Rey Woodworking Ltd., 1-301 Hanlan, Woodbridge, ON L4L 3R7 T
              905.265.0286 | TF 877.265.0286
            </p>
          </section>
        </main>
      </div>
    </section>
    <!-- Navbar Mobile End ---------------------------------------------------------------------------------------------------->





    <!-- Hero Image Section Start =============== -->
    <section
      class="h-[200px] sm:h-[350px] text-white bg-[url('../images/page4/hero-moblie.png')] sm:bg-[url('../images/page4/home-hero-image.png')] bg-bottom bg-cover bg-no-repeat flex items-center"
    >
      <h1
        class="max-w-[150px] sm:max-w-[1660px] w-full pl-[20px] sm:m-auto text-[36px] sm:text-[74px] font-[400] leading-[36px] sm:leading-[80px] uppercase"
      >
        Product Details
      </h1>
    </section>
    <!-- Hero Image Section End **********************-->






    <!-- Pagination 📃 Section Start ============================================= -->
    <section class="max-w-[1920px] w-full px-[30px] xl:px-[150px] mx-auto mt-[30px] sm:mt-[95px]">
      <!-- section -->
      <div class="flex justify-between items-center mb-[15px] sm:mb-[30px]">
        <div>
          <h2 class="text-[15px] leading-[15px] sm:text-[42px] sm:leading-[41px]"
          >
            Shopping Cart: (1 Item)
          </h2>
        </div>
        <div class="flex items-center gap-[5px] sm:gap-[20px]">
          <img class="w-[14px] sm:w-[37px]"
            src="../images/page4/rey-website-start.svg"
            alt="rey-website-start"
          />
          <h3
            class="text-[10px] leading-[10px] sm:text-[24px] sm:leading-[24px]"
          >
            Sign in for faster checkout.
          </h3>
        </div>
      </div>
      <!-- section -->
      <div class="w-full h-[1px] bg-[#9a999a] mb-[15px] sm:mb-[43px]"></div>
      <div>
        <h3
          class="text-[11px] leading-[20px] sm:text-[24px] sm:leading-[24px] mb-[45px] sm:mb-[115px] text-[#9a999a]"
        >
          Home > <span class="text-[#222222]">Kitchen Cabinets</span> | Vaneties
          | Doors | Drawers | Accessories | Tops
        </h3>
      </div>
      <p
        class="text-[12px] leading-[9px] sm:text-[24px] sm:leading-[24px] mb-[10px] sm:mb-[25px]"
      >
        Project Code: Kitchen 1 / 10000-0001
      </p>
    </section>
    <!-- Pagination 📃 Section End ************************************************************************************-->











    <!-- Cart Summary 🛒 🛒 🛒 Section Start ============================================= -->
    <section class="max-w-[1920px] w-full px-[30px] xl:px-[150px] mx-auto flex gap-[33px] sm:gap-[60px] mb-[45px] max-[1500px]:flex-col max-[1500px]:items-center">
      <!-- cart details section  -->
      <div class=" max-w-[845px] w-full border-t-[1px] border-[#9a999a]">
        <div class=" flex justify-between pt-[11px] sm:pt-[35px] flex-col sm:flex-row">
          <!-- sub section -->
          <div class=" order-1 sm:order-3">
            <h2 class="text-[14px] max-sm:mb-[-50px] sm:text-[28px] leading-[15px] sm:leading-[41px] text-right">
              CAD 2,799.20
            </h2>
          </div>

          <div class="max-w-[200px] w-full order-2 sm:order-1">
            <img class="max-w-[100px] sm:max-w-[200px] w-full bg-[#f5f4f3]"
              src="../images/page4/door-cabinate.png" alt="door carinate"/>
          </div>

          <!-- sub section -->
          <div class="max-w-[370px] w-full pl-0 sm:pl-[30px] pr-0 sm:pr-[10px] order-3 sm:order-2">
            <h3 class="text-[12px] leading-[15px] sm:text-[28px] sm:leading-[41px]">
              1 Door Base Cabinet
            </h3>
            <h3 class="text-[12px] leading-[15px] sm:text-[28px] sm:leading-[41px] mb-[11px] sm:mb-[32px]">
              2 Adjustable Shelves
            </h3>

            <div class="max-w-[230px] sm:max-w-[500px] w-full text-[11px] leading-[14px] sm:text-[18px] sm:leading-[24px] mb-[17px] sm:mb-[40px] font-[700]">
           
              <p class="font-[700]">Dimensions: <span class="font-[400]">W 27 in x H 30 in x D 24 in</span></p>
              <p class="font-[700]">Cabinet Interior Material: <span class="font-[400]">3/4 Hard Rock Maple</span></p>
              <p class="font-[700]">Textured Panels:<span class="font-[400]">Anthracite Rift Oak</span></p>
               
            </div>


            <div class="flex items-center gap-[15px]">
              <span class="text-[11px] sm:text-[24px] leading-[18px] sm:leading-[41px]">QTY</span>

              <div class="bg-[#ecebe9] flex justify-between text-[11px] sm:text-[21px] leading-[16px] sm:leading-[36px]">
                <button id="minus" class="text-[18px] sm:text-[41px] sm:h-[52px] sm:w-[52px] h-[23px] w-[23px] flex justify-center items-center"> - </button>
                <span id="num" class="sm:h-[52px] sm:w-[52px] h-[23px] w-[23px] flex justify-center items-center bg-[#ffffff] border-2 border-[#222222]">01</span>
                <button id="plus" class="text-[18px] sm:text-[41px] sm:h-[52px] sm:w-[52px] h-[23px] w-[23px] flex justify-center items-center">+</button>
              </div>
            </div>

            <!-- sub section  -->
          </div>
          <!-- sub section -->
        </div>



        <!-- up coming sections 01  -->
        <div class="flex justify-end pb-[25px] pt-0 sm:pt-[45px] border-b-[1px] border-[#9a999a]">
          <div class="flex gap-2 items-center border-r-2 border-[#edecea] sm:pr-[22px] pr-[11px]">
            <h2 class="text-[11px] leading-[9px] sm:text-[18px] smleading-[40px]">
              Save for Later
            </h2>
            <img class="w-[11px] sm:w-[25px] h-[11px] sm:h-[25px] cursor-pointer"
              src="../images/page4/download-icon.png" alt="download"
            />
          </div>


          <div class="flex gap-2 items-center sm:pl-[22px] pl-[11px]">
            <h2 class="text-[11px] leading-[9px] sm:text-[18px] smleading-[40px]">
              Remove
            </h2>
            <img class="w-[11px] sm:w-[20px] h-[11px] sm:h-[20px] cursor-pointer"
              src="../images/page4/remove-icon.png" alt="remove"
            />
          </div>
        </div>



        <!-- up coming sections 02  -->
        <div class="py-[18px] sm:py-[45px] border-b-[1px] border-[#9a999a]">
          <div class="account_category_radio_div flex flex-col items-center">
            <div class="labels max-w-[450px] w-full">
              <input
                type="radio"
                id="contactChoice1"
                name="contact"
                value="email"
              />
              <label class="spans flex items-start" for="contactChoice1">
                <h3
                  class="text-[11px] leading-[14px] sm:text-[24px] sm:leading-[41px]"
                >
                  Ship
                  <p
                    class="max-w-[240px] sm:max-w-[380px] text-[11px] leading-[14px] sm:text-[20px] sm:leading-[28px]"
                  >
                    Purchase now and we'll ship when it's ready. Shipping:
                    Toronto Area, In-Home Arrives: Estimated delivery June 23,
                    2023.Postal Code: K1A 0A1
                  </p>
                </h3>
              </label>
            </div>

            <div class="labels max-w-[450px] w-full">
              <input
                type="radio"
                id="contactChoice2"
                name="contact"
                value="email"
              />
              <label class="spans flex items-start" for="contactChoice2">
                <h3
                  class="text-[11px] leading-[14px] sm:text-[24px] sm:leading-[41px]"
                >
                  Free Pickup
                  <p
                    class="max-w-[400px] text-[11px] leading-[14px] sm:text-[20px] sm:leading-[28px]"
                  >
                    From: 1-301 Hanlan, Woodbridge, ON L4L 3R7
                  </p>
                </h3>
              </label>
            </div>
          </div>
        </div>






        <!-- up coming sections 03  -->
        <div>
          <div class="flex items-center gap-[10px] pt-[10px] sm:pt-[30px] pb-[9px] md:pb-[36px]">
            <img class="w-[14px] sm:w-[32px]"
              src="../images/page4/plus.png" alt="plus icon"
            />
            <h2 class="text-[14px] sm:text-[24px]">Add More Items</h2>
          </div>
          <!-- box  -->
          <div
            class="max-w-[845px] bg-[#ecebe9] p-[20px] sm:p-[27px] flex gap-[10px] justify-between mb-[11px] sm:mb-[40px]"
          >
            <div class="max-w-[380px] w-full">
              <h2
                class="text-[11px] leading-[12px] sm:text-[24px] sm:leading-[41px]"
              >
                Returns made easy
              </h2>
              <p
                class="text-[9px] leading-[12px] my-[7px] sm:my-[23px] sm:text-[20px] sm:leading-[28px]"
              >
                At Rey-Express, we stand behind the quality of our products and
                want every purchase to be a positive experience.
              </p>
              <a
                class="text-[9px] sm:text-[20px] leading-[12px] sm:leading-[28px] border-b-[1px] border-[#9a999a]"
                href="#"
                >Our Return/Exchange Policy</a
              >
            </div>
            <div class="max-w-[380px] w-full">
              <h2
                class="text-[11px] leading-[12px] sm:text-[24px] sm:leading-[28px]"
              >
                Unlimited cabinet or millwork delivery for one flat fee
              </h2>
              <p
                class="text-[9px] leading-[12px] my-[7px] sm:my-[23px] sm:text-[20px] sm:leading-[28px]"
              >
                For a flat fee per trip, we will deliver all cabinets and or
                millwork in your order regardless of the number of items.
              </p>
              <a
                class="text-[9px] sm:text-[20px] leading-[12px] sm:leading-[28px] border-b-[1px] border-[#9a999a]"
                href="#"
                >Learn more</a
              >
            </div>
          </div>
        </div>
        <!-- up coming sections end  -->
        <div class="flex items-center gap-[10px] mb-[13px]">
          <div>
            <img
              class="w-[16px] sm:w-[31px]"
              src="../images/page4/padlock.png"
              alt="lock"
            />
          </div>
          <div>
            <h3
              class="text-[9px] leading-[12px] sm:text-[20px] sm:leading-[24px]"
            >
              Secure Checkout
            </h3>
            <p
              class="text-[9px] leading-[12px] sm:text-[18px] sm:leading-[24px]"
            >
              Shopping is always
              <a class="border-b-[1px] border-[#9a999a]" href="#"
                >safe and secure.</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- Cart summery section start =================================================-->
      <!-- Cart summery section start =================================================-->
      <!-- Cart summery section start =================================================-->
      <div class="max-w-[710px] w-full border border-[#9a999a] px-[20px] sm:px-[28px]"
      >
        <!-- up coming div ^^^^^^^^^^^ -->
        <div
          class="flex items-center gap-[7px] sm:gap-[20px] pt-[30px] sm:pt-[44px] pb-[13px] sm:pb-[35px]"
        >
          <img
            class="w-[14px] sm:w-[35px]"
            src="../images/page4/padlock.png"
            alt="lock"
          />
          <h2
            class="text-[15px] leading-[15px] sm:text-[42px] sm:leading-[41px]"
          >
            Cart Summery
          </h2>
        </div>
        <!-- up coming div ^^^^^^^^^^^ -->
        <!-- another  -->
        <div
          class="text-[11px] leading-[16px] sm:text-[24px] sm:leading-[41px]"
        >
          <div class="flex justify-between mb-[14px]">
            <h2>Merchandise:</h2>
            <h2>CAD 2,799.20</h2>
          </div>
          <!-- another  -->
          <div class="flex justify-between">
            <h2>Est. Shipping & Handling:</h2>
            <h2>CAD 599.00</h2>
          </div>
          <!-- another  -->
          <div class="flex justify-between">
            <h2>Est. Tax:</h2>
            <h2>CAD 441.77</h2>
          </div>
          <!-- another  -->
          <div class="flex justify-between">
            <h2>Estimated for K1A 0A1:</h2>
          </div>
        </div>
        <!-- up coming div ^^^^^^^^^^^^ -->
        <div class="w-full h-[1px] bg-[#d8d8d8] my-[9px] sm:my-[25px]"></div>
        <!-- up coming div  ^^^^^^^^^^^-->
        <div class="mb-[24px] sm:mb-[74px]">
          <div
            class="flex justify-between text-[14px] leading-[16px] sm:text-[32px] sm:leading-[41px]"
          >
            <h2>Est. Order Total:</h2>
            <h2>CAD 3,839.97</h2>
          </div>
        </div>

        <!-- up coming div  ^^^^^^^^^^^^-->
        <div
          class="text-[11px] leading-[16px] sm:text-[24px] sm:leading-[41px] mb-[20px] sm:mb-[55px]"
        >
          <p>Apply a Promotion Code</p>
          <p>Remove any spaces or dashes before hitting apply.</p>
        </div>
        <!-- up coming div  ^^^^^^^^^^^^-->
        <div class="flex justify-between gap-[10px] sm:gap-[25px]">
          <input
            class="text-[11px] leading-[13px] sm:text-[21px] sm:leading-[36px] border-[#222222] border-[1px] px-[7px] sm:px-[14px] py-[7px] w-full outline-none"
            placeholder="Enter Code"
            type="text"
          />
          <button
            class="text-[11px] leading-[13px] sm:text-[21px] sm:leading-[36px] border-[#222222] bg-[#222222] text-[#ffffff] border-[1px] px-[25px] sm:px-[54px] py-[7px] uppercase cursor-pointer"
          >
            Apply
          </button>
        </div>
        <!-- up coming div  ^^^^^^^^^^^^-->
        <button
          class="text-[11px] leading-[13px] sm:text-[21px] sm:leading-[36px] border-[#222222] bg-[#222222] text-[#ffffff] border-[1px] py-[7px] uppercase cursor-pointer w-full mt-[12px] sm:mt-[30px]"
        >
          CHECKOUT NOW
        </button>
        <!-- up coming div  ^^^^^^^^^^^^-->
        <div
          class="text-[11px] leading-[16px] py-[15px] sm:py-[35px] sm:text-[24px] sm:leading-[41px] border-b-[1px] border-[#cfcfcf]"
        >
          <p>By continuing to Checkout, you are agreeing to our</p>
          <p>
            <a class="border-b-[1px] border-[#9a999a]" href="#">Terms of Use</a>
            and
            <a class="border-b-[1px] border-[#9a999a]" href="#"
              >Privacy Policy.</a
            >
          </p>
        </div>
        <!-- up coming div  ^^^^^^^^^^^^-->
        <div class="mt-[12px] sm:mt-[35px] mb-[12px] sm:mb-[54px]">
          <p
            class="text-[11px] leading-[13px] sm:text-[24px] sm:leading-[41px]"
          >
            Or use other checkout methods:
          </p>

          <div class="flex justify-between my-[12px] sm:my-[36px]">
            <img
              class="w-[46px] sm:w-[124px]"
              src="../images/page4/Rey-Xpress-Visa-Logo.svg"
              alt="visa"
            />
            <img
              class="w-[30px] sm:w-[80px]"
              src="../images/page4/Rey-Xpress-Mastercard-Logo.svg"
              alt="mastercard"
            />
            <img
              class="w-[66px] sm:w-[177px]"
              src="../images/page4/Rey-Xpress-PayPal-Logo.svg"
              alt="paypal"
            />
          </div>

          <div class="flex items-center gap-[12px] sm:gap-[18px]">
            <img
              class="w-[35px] sm:w-[94px]"
              src="../images/page4/Rey-Xpress-Apple-Pay-Logo.svg"
              alt="apple"
            />
            <p
              class="text-[11px] leading-[16px] sm:text-[24px] sm:leading-[41px]"
            >
              Apple Pay available for Apple Pay account holders. Sign up for
              Apple Pay in your phone settings.
            </p>
          </div>
        </div>
        <!-- up coming div  ^^^^^^^^^^^^-->
      </div>
    </section>
    <!-- Cart Summary 🛒 Section End ************************************************************************************-->











    <!-- Cards Carousel Section Start ============================================= -->
      <section class="max-w-[1920px] mx-auto px-[30px] 2xl:px-[150px] mb-[80px] sm:mb-[200px]">
        <section class="product-main-container">
          <div
            class="flex items-center justify-between pb-[13px] sm:pb-[37px] mt-[100px] border-b-[1px] border-[#9a999a]"
          >
            <h2
              class="text-[22px] leading-[24px] sm:text-[42px] sm:leading-[41px]"
            >
              Related Products
            </h2>
            <div class="flex items-center gap-[14px]">

              <button id="prev_btn" class="ctrl-btn pro-prev">
                <img name="arrows"
                  class="btn_image w-[35px] sm:w-[70px] rotate-180 mt-[4px] sm:mt-[8px]  cursor-pointer"
                  src="../images/page4/right-arrow.png"
                  alt="left arrow"
                />
              </button>

              <button id="next_btn"  class="ctrl-btn pro-next">
                <img name="arrows"
                  class="btn_image w-[35px] sm:w-[70px] cursor-pointer"
                  src="../images/page4/right-arrow.png"
                  alt="right arrow"
                />
              </button>
            </div>
          </div>

          <!-- product body ----------------------------- -->
          <div class="slider" id="slider">
            <div class="slide" id="slide">
             
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
              <!-- card  -->
              <div class="item  w-[375px]">
                <div class="flex mx-auto max-w-[375px] max-h-[480px] mb-[26px] w-full bg-[#f5f4f4] justify-center items-center">
                  <img class="bg-[#f5f4f4] w-full max-w-[290px] sm:max-w-[375px]"
                    src="../images/page4/cards/Asset 1.png" alt="asset1"
                  />
                </div>
                <div class="text whitespace-normal">
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[700]">Base Kitchen Cabinet</p>
                  <p class="sm:text-[28px] sm:leading-[41px] text-[13px] leading-[16px] font-[400]"> 1 Door / Custom door styles. Custom size options.</p>
                  <button class="uppercase text-[10px] leading-[18px] sm:text-[21px] sm:leading-[36px] px-[20px] py-[5px] border-[2px] border-[#bb6c3e] text-[#bb6c3e] mt-[18px] sm:mt-[26px]"
                  >Order </button>
                </div>
              </div>
              <!-- card  -->
             
              
            </div>
            
          </div>
 
          
             

        </section>
      </section>
    <!--  Cards Carousel  Section End ************************************************************************************-->














<!-- CTA section start================================ -->
    <section class="my-[80px] md:my-[220px] max-w-[1280px] mx-auto text-center">
      <h2 class="text-[26px] leading-[28px] md:text-[80px] md:leading-[90px] mb-[20px] md:mb-[80px] px-[30px]" >
        Need assistance while ordering your cabinets and millwork?
      </h2>
      <div class="flex gap-[14px] flex-wrap md:gap-[53px] justify-center px-[30px]">
        <a class="bg_white_btn bg-[#bb6c3e] text-white" href="#">GET HELP BY EMAIL!</a>
        <a class="bg_black_btn bg-[#212121] text-white" href="#">CALL 877.265.0286</a>
      </div>
    </section>
<!--   CTA section End -->


<!-- Finishing section start================================= -->
    <section class="bg-[url('../images/page2/Rey-Xpress-Shop-Footer.jpg')] bg-no-repeat bg-cover bg-center pt-[50px] pb-[50px] md:pt-[121px] md:pb-[140px] max-sm:h-[175px] xl:h-[450px] bg-[#343334]"
    >
      <div class="ml-auto text-end text-white max-w-[1920px] mx-auto px-[35px] md:px-[150px]">
        <button
          class="ml-auto text-[10px] leading-[22px] md:text-[27px] md:leading-[60px] flex items-center gap-2 justify-end"
        >
          Next
          <img
            class="w-[10px] md:w-[27px]"
            src="../images/Arrow_Right_White.svg"
            alt="right arrow"
          />
        </button>

        <h3
          class="text-[27px] leading-[30px] md:text-[74px] md:leading-[80px]"
        >
          Shop
        </h3>
        
      </div>
    </section>
<!--   Finishing section End -->


<!-- Footer section start ==================================================== -->
    <section class="bg-[#343334]">
      <section class="text-white box1">
        <footer
          class="flex justify-between flex-col md:flex-row mx-auto flex-wrap gap-[40px] pt-[60px] md:pt-[122px]"
        >
          <div>
            <a href="#"><img
              class="w-[124px] md:w-[331px]"
              src="../images/homeHero/Rey-Xpress-Logo-Gray-Footer.svg"
              alt="logo"
            /></a>
          </div>

          <div class="flex justify-between flex-wrap gap-[55px] md:gap-[90px]">


            <!-- sections -->
            <div>
              <h3
                class="font-[700] fLinks text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]"
              >
                Navigation
              </h3>
              <ul
                class="fLinks"
              >
                <li>Home</li>
                <li>Products & Finishes</li>
                <li>Shop</li>
                <li>Why Rey-Xpress</li>
                <li>Tutorials</li>
                <li>Contact</li>
              </ul>
            </div>

            <!-- sections -->
            <div>
              <h3
                class="fLinks font-[700] text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]"
              >
                ACCOUNT
              </h3>
              <ul
                class="fLinks"
              >
                <li>Sign in / Create Account</li>
                <li>Projects</li>
                <li>Shopping Cart</li>
              </ul>
            </div>

            <!-- sections -->
            <div class="max-[540px]:w-full max-[540px]:flex max-[540px]:justify-end max-[540px]:mr-[40px]">
              <div>
                <h3
                class="fLinks font-[700] text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]"
              >
                INQUIRIES
              </h3>
              <ul
                class="fLinks"
              >
                <li>1-301 Hanlan</li>
                <li>Woodbridge, ON</li>
                <li>L4L 3R7</li>
                <li class="my-[5px]">Email Us</li>
                <li>T 905.265.0286</li>
                <li>T 877.265.0286</li>
              </ul>
              </div>
            </div>

            
          </div>
        </footer>

        <!-- social icons  -->
        <section class="pb-[30px] md:pb-[50px]">
          <div class="flex gap-[23px] mt-[50px] mb-[12px] md:mb-[45px]">
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/linkedin.svg"
                  alt="LinkedIn"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/facebook.svg"
                  alt="Facebook"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/twitter.svg"
                  alt="Twitter"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/youtube.svg"
                  alt="Youtube"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/instagram.svg"
                  alt="Instagram"
              /></a>
            </div>
          </div>
          <!-- copyright text  -->
          <small
            class="md:text-[18px] md:leading-[34px] text-[9px] leading-[14px]"
            >© Copyright 2023. Rey Woodworking, Ltd. All rights reserved. <br>Rey-Xpress is a subsidiary of Rey Woodworking Ltd.
            <span class="text-[#b7a8a2]"
              >Terms of Use | Privacy Policy</span
            ></small
          >
        </section>
      </section>
      <div>
        <a href="#"
          ><img
            class="bg-gray-400 ml-auto w-[43px] md:hidden"
            src="../images/homeHero/up.png"
            alt="up"
        /></a>
      </div>
    </section>
<!--   Footer section End ====================================================-->
    <script src="../js/page4.js"></script>
  </body>
</html>
