<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CREATE ACCOUNT</title>
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/page3.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/policy-checkbox.css">
    <script src="https://cdn.tailwindcss.com"></script><!--Tailwind css CDN -->
    <link rel="stylesheet" href="../navbar/mobile_navbar.css" /><!-- Navbar css file -->
    <script defer src="../navbar/mobile-navbar.js"></script><!-- Navbar javascript file  -->
  </head>
  <body>


    <!-- Navbar Desktop Start -->
    <nav class="max-[1370px]:hidden w-full bg-[#ffffff] pt-[40px] pb-[40px]">
      <!-- main nav container  -->
      <section
        class="mx-auto max-w-[1920px] px-[100px] flex justify-between gap-[20px] max-[1000px]:flex-col"
      >
        <!-- logo -->
        <div class="logo">
          <a href="#"
            ><img
              class="md:w-[440px] w-[165px]"
              src="../images/navbar/Rey-Xpress-Color-Logo.svg"
              alt="logo"
          /></a>
        </div>




        <!-- main links container -->
        <div class="gap-[70px] flex flex-col justify-between items-end">
          <!-- top links  -->
          <div class="topLinks text-[#808080] max-[1000px]:w-full">
            
            <div class="min-[1700px]:text-[14px] xl:text-[15px] text-[14px] sm:leading-[14px] leading-[32px] flex items-center max-[1000px]:flex-col max-[1000px]:block"
            >
              <!-- items  -->
              <a class="flex items-center gap-[10px] max-[1000px]:py-[20px]" href="#" >
                <img class="sm:w-[23px] w-[20px]" src="../images/navbar/Rey-Xpress-Account-Icon.svg" alt="account"/>
                SIGN IN / CREATE ACCOUNT
                </a>
              <!-- items  -->
              <a class="flex items-center gap-[10px] mx-[32px] px-[32px] border-l-2 border-r-2 border-[#9a999a]" href="#">
                <img class="sm:w-[28px] w-[20px]" src="../images/navbar/Rey-Xpress-Projects-Icon.svg" alt="project" />
                PROJECTS
              </a>

              <!-- items  -->
              <a class="flex items-center gap-[10px]" href="#" >
                <img class="sm:w-[24px] w-[20px]" src="../images/navbar/Rey-Xpress-Shopping-Cart-Icon.svg" alt="cart" />
                SHOPPING CART
              </a>

            </div>
          </div>






          <!-- bottom links  -->
          <div class="bottomLinks">
            <ul id="navbar" class="nav flex 2xl:gap-[60px] xl:gap-[40px] gap-[20px] min-[1700px]:text-[20px] text-[18px] leading-[32px] text-[#808080] uppercase font-[700]"
            >
              <li>
                <a class="navlinks pb-[28px]" href="/pages/page2.html" >PRODUCT & FINISHES</a>
              </li>
              <li>
                <a class="navlinks pb-[28px]" href="./pages/page5.html" >SHOP</a>
              </li>
              <li>
                <a class="navlinks pb-[28px]" href="#">WHY REY-XPRESS</a>
              </li>
              <li>
                <a class="navlinks pb-[28px]" href="#">TUTORIALS</a>
              </li>
              <li>
                <a class="navlinks pb-[28px]" href="#">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </nav>
    <!-- Navbar Desktop End --------------------------------------------------------------------------------------------------->

    <!-- Navbar Mobile Start  -->
    <section id="mobile_nav_bg" class="min-[1370px]:hidden bg-[#fff]">
      <div class="px-[30px] py-[50px] text-[#fff]">
        <!-- logo and hamburger menu  -->
        <section class="flex justify-between items-center ">
          <div>
            <a href="#"><img
              id="nav_logo_white"
              class="w-[165px] active"
              src="../images/navbar/Rey-Xpress-White-Logo.svg"
              alt="logo"
            />
            <img
              id="nav_logo_red"
              class="w-[165px] "
              src="../images/navbar/Rey-Xpress-Color-Logo.svg"
              alt="logo"
            /></a>
          </div>
          <div>
            <div class="hamburger_menu" id="hamburger_menu">
              <div class="hamburger_bar"></div>
              <div class="hamburger_bar"></div>
              <div class="hamburger_bar"></div>
            </div>
          </div>
        </section>

        <!-- main nav  -->
        <main" id="main_nav_container">
          <!-- links section  -->
          <section class="mt-[45px]">
            <!-- item start 1-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 1-->
            <!-- item start 2-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">PRODUCT & FINISHES</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 2-->
            <!-- item start 3-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">SHOP</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Kitchen Cabinets</a></p>
                <p><a href="#">Base Cabinets</a></p>
                <p><a href="#">Top Wall Cabinets</a></p>
                <p><a href="#">Tall Cabinets</a></p>
                <p><a href="#">Vaneties</a></p>
                <p><a href="#">Doors</a></p>
                <p><a href="#">Drawers</a></p>
                <p><a href="#">Trim, Details & Accessories</a></p>
                <p><a href="#">Counter Tops</a></p>
              </div>
            </div>
            <!-- item end 3-->
            <!-- item start 4-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 4-->
            <!-- item start 5-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 5-->
            <!-- item start 6-->
            <div class="toggle_container">
              <div class="toggle_item">
                <h2 class="toggle_text">home</h2>
                <div class="toggle_hamburger_menu">
                  <div class="toggle_hamburger_bar"></div>
                  <div class="toggle_hamburger_bar"></div>
                </div>
              </div>
              <!-- toggle  -->
              <div class="hide_toggle_item">
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
                <p><a href="#">Rey Xpress links</a></p>
              </div>
            </div>
            <!-- item end 6-->
          </section>

          <section
            class="uppercase mt-[40px] pb-[35px] border-b-[1px] border-[#fff]"
          >
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[17px]"
                src="../images/navbar/mobile/Rey-Xpress-Account-Icon.svg"
                alt="account"
              />
              <h3>SIGN IN / CREATE ACCOUNT</h3>
            </a>
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[20px]"
                src="../images/navbar/mobile/Rey-Xpress-Projects-Icon.svg"
                alt="project"
              />
              <h3>PROJECTS</h3>
            </a>
            <a href="#" class="flex gap-[6px] mb-[14px]">
              <img
                class="w-[18px]"
                src="../images/navbar/mobile/Rey-Xpress-Shopping-Cart-Icon.svg"
                alt="add to cart"
              />
              <h3>SHOPPING CART</h3>
            </a>
          </section>

          <section class="my-[15px]">
            <p class="text-[12px] leading-[18px]">
              Rey Woodworking Ltd., 1-301 Hanlan, Woodbridge, ON L4L 3R7 T
              905.265.0286 | TF 877.265.0286
            </p>
          </section>
        </main>
      </div>
    </section>
    <!-- Navbar Mobile End ---------------------------------------------------------------------------------------------------->







    
<!-- Hero Image Section Start =============== -->
    <section class="h-[200px] md:h-[350px] text-white bg-[url('../images/page3/Rey-Xpress-Create-Account-Hero.jpg')] bg-center bg-cover bg-no-repeat flex items-center">
      <h1 class="max-w-[150px] md:max-w-[1660px] w-full px-[20px] md:m-auto text-[33px] md:text-[74px] font-[400] leading-[36px] md:leading-[80px] uppercase">Create Account</h1>
    </section>
<!-- Hero Image End **********************-->





<!-- Pagination section Start================ -->
    <section class="pagination containers_sections">
      <p class="text-[11px] leading-[20px] md:text-[24px] md:leading-[24px]">Home > <span>Create Account</span> | Sign in</p>
    </section>
<!-- Pagination section End*********************** -->



<!-- Another section ================ -->
    <section class="why_choose_us_section containers_sections">
      <h2 class="hading_size">Why Choose Us?</h2>
      <div class="text_line"></div>
      <p class="paragraph_size">
        At Rey-Express we're dedicated to supplying your company with a
        top-quality product manufactured and assembled in Canada - at a great
        price! Sign up today and find out what working with the best in the
        business is all about.
      </p>

      <!-- Another -sub- section ================ -->
      <section class="why_choose_us_cards">
        <!-- card  -->
        <div class="choose_us_card">
          <div class="choose_us_card_image text-center">
            <img class="max-w-[55px] sm:max-w-[146px] w-full" src="../images/page3/Rey-Xpress-Great-Pricing.svg" alt="great pricing" />
          </div>
          <div class="choose_us_card_text">
            <h3>Great Pricing</h3>
            <p>Great quality products at a great price.</p>
          </div>
        </div>
        <!-- card  -->
        <div class="choose_us_card">
          <div class="choose_us_card_image">
            <img class="max-w-[66px] sm:max-w-[176px] w-full" src="../images/page3/Rey-Xpress-Customer-Service.svg" alt="customer service" />
          </div>
          <div class="choose_us_card_text">
            <h3>Customer Service</h3>
            <p>
              Our dedicated Customer Support teams are ready to assist and help
              your projects run smoothly.
            </p>
          </div>
        </div>
        <!-- card  -->
        <div class="choose_us_card">
          <div class="choose_us_card_image">
            <img class="max-w-[47px] sm:max-w-[126px] w-full" src="../images/page3/Rey-Xpress-Experience.svg" alt="bg" />
          </div>
          <div class="choose_us_card_text">
            <h3>Experience</h3>
            <p>
              There is no substitute for experience. We design thousands of
              kitchens every year. We love this stuff.
            </p>
          </div>
        </div>
        <!-- card  -->
        <div class="choose_us_card">
          <div class="choose_us_card_image">
            <img class="max-w-[48px] sm:max-w-[130px] w-full" src="../images/page3/Rey-Xpress-Incentives.svg" alt="bg" />
          </div>
          <div class="choose_us_card_text">
            <h3>Incentives</h3>
            <p>
              The incentives built into our program are designed to help you
              attain more projects and be more profitable.
            </p>
          </div>
        </div>
      </section>
    </section>
<!-- Another section ================ -->



    <section class="choose_account containers_sections">
      <h3>What kind of account would you like to create?</h3>
      <!-- Another sub----- section ================ -->
      <section class="account_category">
        <div class="account_category_div">
          <h2>I'm a Trade Professional</h2>
          <p>
            Verification and company name required for discount. Own/Work for a
            Trade or Construction Business.
          </p>
<!-- account categories  -->
          <div class="account_category_radio_div">
            <div class="labels">
              <input
              checked
                type="radio"
                id="contactChoice1"
                name="contact"
                value="email"
              />
              <label class="spans" for="contactChoice1">Architect</label>
            </div>

            <div class="labels">
              <input
                type="radio"
                id="contactChoice2"
                name="contact"
                value="telephone"
              />
              <label class="spans" for="contactChoice2">Interior Designer</label>
            </div>

            <div class="labels">
              <input
                type="radio"
                id="contactChoice3"
                name="contact"
                value="contactChoice3"
              />
              <label class="spans" for="contactChoice3">Builder & Remodeler</label>
            </div>

            <div class="labels">
              <input
                type="radio"
                id="contactChoice4"
                name="contact"
                value="contactChoice4"
              />
              <label class="spans" for="contactChoice4">Commercial Pro</label>
            </div>

            <div class="labels">
              <input
                type="radio"
                id="contactChoice5"
                name="contact"
                value="contactChoice5"
              />
              <label class="spans" for="contactChoice5">General Contractor</label>
            </div>

            <div class="labels">
              <input
                type="radio"
                id="contactChoice6"
                name="contact"
                value="contactChoice6"
              />
              <label class="spans" for="contactChoice6">Other (Please Specify)</label>
            </div>
            <div class="account_category_input_div">
              <input type="text" />
            </div>
          </div>
        </div>
        <!-- Another -->
        <div class="account_category_div ">
          <h2>I'm a Homeowner</h2>
          <p>I own a residential home condo or apartment.</p>
          <div class="account_category_radio_div">
            <div class="labels">
              <input
                type="radio"
                id="homeowner1"
                name="homeowner"
                value="homeowner1"
              />
              <label class="spans" for="homeowner1"
                >I am interested in do-it-yourself projects.</label
              >
            </div>

            <div class="labels">
              <input
                type="radio"
                id="homeowner2"
                name="homeowner"
                value="homeowner2"
              />
              <label class="spans" for="homeowner2">Other (Please Specify)</label>
            </div>
            <div class="account_category_input_div">
              <input type="text" />
            </div>
          </div>
        </div>
      </section>
    </section>






<!-- Account information section ================ -->
    <section class="account_information_parent">
      <section class="create_new_account_info containers_sections">
        <div class="new_account_email">
          <label>Email</label>
          <input type="text" />
        </div>
        <!-- another  -->
        <div class="new_account_names">
          <div class="new_account_first_name">
            <label>First Name</label>
            <input type="text" />
          </div>
          <div class="new_account_last_name">
            <label>Last Name</label>
            <input type="text" />
          </div>
        </div>
        <!-- another  -->
        <div class="new_account_names">
          <div class="new_account_first_name">
            <label>Create Your Password*</label> <br />
            <small>Password should be 6 or more characters.*</small>
            <input type="text"/>
          </div>
          <div class="new_account_last_name">
            <label">Zip/Postal Code*</label>
            <input type="text" />
          </div>
        </div>
      </section>


<!-- Another section ================ -->
      <section class="create_new_account_info containers_sections company_info_section">
        <h2>COMPANY INFORMATION</h2>
        <div class="new_account_email">
          <label>Company Name*</label>
          <input type="text" />
        </div>
        <!-- another  -->
        <div class="new_account_names">
          <div class="new_account_first_name">
            <label>Primary Business Type*</label>
            <input type="text" />
          </div>
          <div class="new_account_last_name">
            <label>Phone Number*</label>
            <input type="text" />
          </div>
        </div>
        <!-- another  -->
        <div class="new_account_names">
          <div class="new_account_first_name">
            <label>HST</label> <br />
            <input type="text"/>
          </div>
          <div class="new_account_last_name">
            <label">Zip/Postal Code*</label>
            <input type="text" />
          </div>
        </div>

    <!--     
        <div class="terms_condition_checkbox">
          <input id="conditions" type="checkbox" >
          <label for="conditions">By creating an account you agree to Rey Woodworking's <span>Terms</span> and <span>Conditions</span>.</label>
        </div> -->


        <div class="policy_checkbox_parent">
          <label class="policy_checkbox_container">By creating an account you agree to Rey Woodworking's  <span class="mx-[3px]"> Terms </span> and <span class="mx-[3px]"> Conditions </span>.
            <input type="checkbox" >
            <span class="policy_checkmark"></span>
          </label>
        </div>

      </section>


<!-- Another section ================ -->
      <section class="containers_sections">
        <h4 class="text-[14px] md:text-[28px]">ALREADY HAVE AN ACCOUNT?</h4>

        <div class="mt-[80px] md:mt-[160px] mb-[82px] md:mb-[180px] flex justify-center items-center">
          <a href="#">
            <img class="w-[123px] md:w-[270px]" src="../images/page3/Rey-Xpress-Button-Submit-Application-Black.svg" alt="submit button">
          </a>
        </div>
      </section>

    </section>

















<!-- CTA section start================================ -->
    <section class="my-[80px] md:my-[220px] max-w-[1250px] mx-auto text-center">
      <h2 class="text-[26px] leading-[28px] md:text-[80px] md:leading-[90px] mb-[20px] md:mb-[80px] px-[30px]" >
        Need assistance while ordering your cabinets and millwork?
      </h2>
      <div class="flex gap-[14px] flex-wrap md:gap-[53px] justify-center px-[30px]">
        <a class="bg_white_btn bg-[#bb6c3e] text-white" href="#">GET HELP BY EMAIL!</a>
        <a class="bg_black_btn bg-[#212121] text-white" href="#">CALL 877.265.0286</a>
      </div>
    </section>
<!--   CTA section End -->
<!-- Finishing section start================================= -->
    <section class="bg-[url('../images/page2/Rey-Xpress-Shop-Footer.jpg')] bg-no-repeat bg-cover bg-center pt-[50px] pb-[50px] md:pt-[121px] md:pb-[140px] bg-[#343334] max-sm:h-[175px] xl:h-[450px]"
    >
      <div class="ml-auto text-end text-white max-w-[1920px] mx-auto px-[35px] md:px-[150px]">
        <button
          class="ml-auto text-[10px] leading-[22px] md:text-[27px] md:leading-[60px] flex items-center gap-2 justify-end"
        >
          Next
          <img
            class="w-[10px] md:w-[27px]"
            src="../images/Arrow_Right_White.svg"
            alt="right arrow"
          />
        </button>

        <h3
          class="text-[27px] leading-[30px] md:text-[74px] md:leading-[80px]"
        >
          Shop
        </h3>
        
      </div>
    </section>
<!--   Finishing section End -->
<!-- Footer section start ==================================================== -->
    <section class="bg-[#343334]">
      <section class="text-white">
        <footer class="max-w-[1920px] xl:px-[150px] flex justify-between flex-col md:flex-row mx-auto flex-wrap gap-[40px] pt-[60px] md:pt-[122px]">
          <div>
            <a href="#"><img
              class="w-[124px] md:w-[331px]"
              src="../images/homeHero/Rey-Xpress-Logo-Gray-Footer.svg"
              alt="logo"
            /></a>
          </div>

          <div class="flex justify-between flex-wrap gap-[55px] md:gap-[90px]">


            <!-- sections -->
            <div>
              <h3 class="font-[700] fLinks text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]">
                Navigation
              </h3>
              <ul
                class="fLinks"
              >
                <li>Home</li>
                <li>Products & Finishes</li>
                <li>Shop</li>
                <li>Why Rey-Xpress</li>
                <li>Tutorials</li>
                <li>Contact</li>
              </ul>
            </div>

            <!-- sections -->
            <div>
              <h3
                class="fLinks font-[700] text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]"
              >
                ACCOUNT
              </h3>
              <ul
                class="fLinks"
              >
                <li>Sign in / Create Account</li>
                <li>Projects</li>
                <li>Shopping Cart</li>
              </ul>
            </div>

            <!-- sections -->
            <div class="max-[540px]:w-full max-[540px]:flex max-[540px]:justify-end max-[540px]:mr-[40px]">
              <div>
                <h3
                class="fLinks font-[700] text-[#bb6c3e] uppercase pb-[11px] mb-[11px] border-b-[1px] border-[#cdcdcd]"
              >
                INQUIRIES
              </h3>
              <ul
                class="fLinks"
              >
                <li>1-301 Hanlan</li>
                <li>Woodbridge, ON</li>
                <li>L4L 3R7</li>
                <li class="my-[5px]">Email Us</li>
                <li>T 905.265.0286</li>
                <li>T 877.265.0286</li>
              </ul>
              </div>
            </div>

            
          </div>
        </footer>

        <!-- social icons  -->
        <section class="pb-[30px] md:pb-[50px] max-w-[1920px] mx-auto xl:px-[150px] px-[30px]">
          <div class="flex gap-[23px] mt-[50px] mb-[12px] md:mb-[45px]">
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/linkedin.svg"
                  alt="LinkedIn"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/facebook.svg"
                  alt="Facebook"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/twitter.svg"
                  alt="Twitter"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/youtube.svg"
                  alt="Youtube"
              /></a>
            </div>
            <!-- Another -->
            <div>
              <a href="#"
                ><img
                  class="w-[23px] md:w-[40px]"
                  src="../images/soicalLogo/instagram.svg"
                  alt="Instagram"
              /></a>
            </div>
          </div>
          <!-- copyright text  -->
          <small
            class="md:text-[18px] md:leading-[34px] text-[9px] leading-[14px]"
            >© Copyright 2023. Rey Woodworking, Ltd. All rights reserved. <br>Rey-Xpress is a subsidiary of Rey Woodworking Ltd.
            <span class="text-[#b7a8a2]"
              >Terms of Use | Privacy Policy</span
            ></small
          >
        </section>

      </section>

      <div>
        <a href="#"
          ><img
            class="bg-gray-400 ml-auto w-[43px] md:hidden"
            src="../images/homeHero/up.png"
            alt="up"
        /></a>
      </div>
    </section>
<!--   Footer section End ====================================================-->
       <script src="../js/navbar.js"></script>
  </body>
</html>
